<div class="container-l" style='margin: 30px'>
    <h1>Create a New Board!</h1>
</div>


<%= render "form", board: @board %>
<div class="container-l" style='margin: 30px'>
<%= link_to "Back to boards", boards_path, class: "btn btn-warning"%>
</div>