<div class="container-l" style='margin: 30px'>
    <h1>Create a New User!</h1>
</div>


<%= render "form", user: @user %>
<div class="container-l" style='margin: 30px'>
<%= link_to "Back to users", users_path, class: "btn btn-secondary"%>
</div>
